flotherm/base/reference/flotherm/2504/examples/dcim/schema/floscript/ParaMCADFloSCRIPTSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

  <xs:include schemaLocation="CommonCommands.xsd" />
  <xs:include schemaLocation="ParaMCADCommands.xsd" />

  <xs:element name="mcad_xml_log_file">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="change_selection_mode" type ="mcadChangeSelectionModeCommand"/>
        <xs:element name="delete" />
        <xs:element name="export" type="mcadExportCommand" />
        <xs:element name="extrude" type="severalNewMcadValues" />
        <xs:element name="gda_select" type="mcadGDASelectCommand" />
        <xs:element name="global_simplify" type="severalNewMcadValues" />
        <xs:element name="heal"/>
        <xs:element name="hide_geometry"/>
        <xs:element name="import" type="mcadImportCommand" />
        <xs:element name="import_project_geometry"/>
        <xs:element name="intersect_bodies"/>
        <xs:element name="local_simplify" type="severalNewMcadValues" />
        <xs:element name="make_independent"/>
        <xs:element name="message" type ="commonMessage"/>
        <xs:element name="modify_unit" type="newMcadValue" />
        <xs:element name="pause_record_script"/>
        <xs:element name="power_select" type="severalNewMcadValues" />
        <xs:element name="project_run_script" type ="commonFileNameCommand"/>
        <xs:element name="quit"/>
        <xs:element name="redo"/>
        <xs:element name="rename" type="mcadRenameCommand" />
        <xs:element name="reset"/>
        <xs:element name="resume_record_script"/>
        <xs:element name="reveal_geometry"/>
        <xs:element name="save" type="commonFilenameCommand" />
        <xs:element name="select" type="mcadSelectCommand" />
        <xs:element name="separate_disjoint_bodies" />
        <xs:element name="single_object" type="severalNewMcadValues" />
        <xs:element name="split_body" type="severalNewMcadValues" />
        <xs:element name="start_record_script" type ="commonFileNameCommand"/>
        <xs:element name="stop_record_script"/>
        <xs:element name="subtract_bodies"/>
        <xs:element name="timer_start" type ="commonNameCommand"/>
        <xs:element name="timer_stop" type ="commonNameCommand"/>
        <xs:element name="top"/>
        <xs:element name="transfer_assembly"/>
        <xs:element name="undo"/>
        <xs:element name="unite_bodies"/>
        <xs:element name="up_to_parent"/>
        <xs:element name="viewport_camera_mode" type ="commonCameraModeCommand"/>
        <xs:element name="viewport_defined_view_manipulation" type ="commonDefinedViewManipulationCommand"/>
        <xs:element name="viewport_output_snapshot" type ="commonOutputSnapshotCommand"/>
        <xs:element name="viewport_standard_view" type ="commonStandardViewCommand"/>
        <xs:element name="voxelize" type="severalNewMcadValues" />
        <xs:element name="wait" type="commonWaitCommand"/>
      </xs:choice>
      <xs:attribute name="version" type="xs:double" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
