flotherm/reference/flotherm/2504/examples/floscript/schema/EDAFloSCRIPTSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

    <xs:include schemaLocation="CommonCommands.xsd" />
    <xs:include schemaLocation="EDAFloSCRIPTTypes.xsd" />

    <xs:element name="eda_xml_log_file">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="component_library_swap" type="edaComponentLibrarySwap"/>
        <xs:element name="create_geometry" type ="edaCreateGeometry"/>
        <xs:element name="filter_components" type="edaFilterComponents"/>
        <xs:element name="import_csv" type="edaImportCommand"/>
        <xs:element name="import_floeda" type="edaImportCommand"/>
        <xs:element name="import_idf" type="edaImportCommand"/>
        <xs:element name="import_odb" type="commonFilenameCommand"/>
        <xs:element name="load" type="commonFilenameCommand"/>
        <xs:element name="message" type ="commonMessage"/>
        <xs:element name="modify_geometry" type ="edaModifyGeometry"/>
        <xs:element name="pause_record_script"/>
        <xs:element name="project_export" type ="edaProjectExport"/>
        <xs:element name="project_run_script" type ="commonFileNameCommand"/>
        <xs:element name="question" type ="commonQuestion"/>
        <xs:element name="quit"/>
        <xs:element name="resume_record_script"/>
        <xs:element name="save"/>
        <xs:element name="save_as" type="commonFilenameCommand"/>
        <xs:element name="start_record_script" type ="commonFileNameCommand"/>
        <xs:element name="stop_record_script"/>
        <xs:element name="transfer"/>
      </xs:choice>
      <xs:attribute name="version" type="xs:double" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
