flotherm/reference/flotherm/2504/examples/floscript/schema/FloSCRIPTSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
  <xs:include schemaLocation="CommonCommands.xsd" />
  <xs:include schemaLocation="CoreFloviewCommands.xsd" />
  <xs:include schemaLocation="EDAFloSCRIPTTypes.xsd" />
  <xs:include schemaLocation="FlopackCommands.xsd" />
  <xs:include schemaLocation="ParaMCADCommands.xsd" />
  <xs:include schemaLocation="CCCommands.xsd" />
  <xs:include schemaLocation="FloGdaPostFloviewCommands.xsd" />


  <xs:element name="xml_log_file">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="external_command">
          <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1">
              <xs:element name="abort_all"/>
              <xs:element name="abort_solve_scenario" type="ccOneToManyScenarios"/>
              <xs:element name="add_variables" type ="ccCreateScenariosCommand"/>
              <xs:element name="adjust_flotherm_to_t3ster"/>
              <xs:element name="calculate_compact_model" type="ccCalculateCompactModelCommand"/>              
              <xs:element name="calibrate_model"/>
              <xs:element name="calibration_design_experiments"/>
              <xs:element name="calibration_idle_event"/>
              <xs:element name="change_selection_mode" type ="mcadChangeSelectionModeCommand"/>
              <xs:element name="change_visibility" type ="ccChangeVisibilityCommand"/>
              <xs:element name="clear_model"/>
              <xs:element name="clear_select_geometry"/>
              <xs:element name="clear_filter_geometry"/>
              <xs:element name="collapse_geometry" type ="commonOneGeom"/>
              <xs:element name="component_library_swap" type ="edaComponentLibrarySwap"/>
              <xs:element name="create_chart"/>
              <xs:element name="create_geometry" type ="edaCreateGeometry"/>
              <xs:element name="create_input_variable_value" type ="ccVariableValueRow"/>
              <xs:element name="create_profiles_plot" type ="commonCreateProfilesPlot"/>
              <xs:element name="create_response_surface_plot" type ="ccResponseParameterID"/>
              <xs:element name="create_response_surface_scenario"/>
              <xs:element name="delete"/>
              <xs:element name="delete_chart" type ="ccDeleteChartCommand"/>
              <xs:element name="delete_input_variable_value" type ="ccVariableValueRow"/>
              <xs:element name="delete_profiles_plot" type ="commonDeleteProfilesPlot"/>
              <xs:element name="delete_response_surface_plot" type ="ccResponseParameterID"/>
              <xs:element name="delete_scenario" type="ccOneToManyScenarios"/>
              <xs:element name="design_of_experiments" type ="ccDesignOfExperimentsCommand"/>
              <xs:element name="expand_all_geometry"/>
              <xs:element name="expand_geometry" type ="commonOneGeom"/>
              <xs:element name="export" type="mcadExportCommand"/>
              <xs:element name="export_all_scenarios" type="commonDirectoryCommand"/>
              <xs:element name="export_compact_model_floxml" type="ccExportCompactModelFloxml"/>
              <xs:element name="export_scenario_table" type="commonFilenameCommand"/>
              <xs:element name="extrude" type="severalNewMcadValues"/>
              <xs:element name="filter_components" type="edaFilterComponents"/>
              <xs:element name="find" type ="commonFindCommand"/>
              <xs:element name="find_cycle_select" type ="commonFindCycleSelectCommand"/>
              <xs:element name="gda_select" type="mcadGDASelectCommand" />
              <xs:element name="global_simplify" type="severalNewMcadValues"/>
              <xs:element name="heal"/>
              <xs:element name="hide_geometry"/>
              <xs:element name="import" type="mcadImportCommand"/>
              <xs:element name="import_csv" type="edaImportCommand"/>
              <xs:element name="import_floeda" type="edaImportCommand"/>
              <xs:element name="import_idf" type="edaImportCommand"/>
              <xs:element name="import_odb" type="commonFilenameCommand"/>
              <xs:element name="import_project_geometry"/>
              <xs:element name="import_t3ster_measurement" type ="ccImportT3sterMeasurement"/>
              <xs:element name="insert_after" type="ccScenarioId"/>
              <xs:element name="interrupt_all"/>
              <xs:element name="interrupt_solve_scenario" type="ccOneToManyScenarios"/>
              <xs:element name="intersect_bodies"/>
              <xs:element name="linear_sweep" type ="ccCreateScenariosCommand"/>
              <xs:element name="load" type="commonFilenameCommand"/>
              <xs:element name="local_simplify" type="severalNewMcadValues"/>
              <xs:element name="make_independent"/>
              <xs:element name="modify_all_initialize_from" type ="ccmodifyInitializeFromAllScenarioCommand"/>
              <xs:element name="modify_all_store_results" type ="ccmodifyStoreResultsAllScenarioCommand"/>
              <xs:element name="modify_attribute" type ="ccNoneToManyAttOneValue"/>
              <xs:element name="modify_calibration" type ="ccNewValue"/>
              <xs:element name="modify_chart" type ="ccModifyChartCommand"/>
              <xs:element name="modify_dependent_expression" type ="ccModifyDependentExpression"/>
              <xs:element name="modify_geometry" type ="ccNoneToManyGeomOneValue"/>
              <xs:element name="modify_initialize_from_scenario" type ="ccmodifyInitializeFromScenarioCommand"/>
              <xs:element name="modify_input_variable" type ="ccOneToManyVarOneValue"/>
              <xs:element name="modify_input_variable_value" type ="ccModifyVariableValue"/>
              <xs:element name="modify_model_config" type ="ccNewValue"/>
              <xs:element name="modify_monitor_point_plot_associated_geometry" type ="commonModifyMonitorPointPlotAssociatedGeometry"/>
              <xs:element name="modify_profiles_plot" type ="commonModifyProfilesPlot"/>
              <xs:element name="modify_output_variable" type ="ccOneToManyVarOneValue"/>
              <xs:element name="modify_response_surface" type ="ccModifyResponseSurfaceCommand"/>
              <xs:element name="modify_response_surface_plot" type ="ccModifyResponseSurfacePlotCommand"/>
              <xs:element name="modify_solver_control" type ="ccNewValue"/>
              <xs:element name="modify_store_scenario_results" type ="ccmodifyStoreScenarioResultsCommand"/>
              <xs:element name="modify_target_temperature_point" type ="ccmodifyTargetTemperaturePoint"/>
              <xs:element name="modify_thermal_netlist_preferences" type ="ccNewValue"/>
              <xs:element name="modify_unit" type="newMcadValue" />
              <xs:element name="modify_user_preferences" type ="ccManyNewValues"/>
              <xs:element name="multiply_variables" type ="ccCreateScenariosCommand"/>
              <xs:element name="nominate_attribute_input_variables" type ="ccNoneToManyAttOneValue"/>
              <xs:element name="nominate_field_summary_output_variables" type ="ccNewValue"/>
              <xs:element name="nominate_geometry_input_variables" type ="ccNoneToManyGeomOneValue"/>
              <xs:element name="nominate_geometry_output_variables" type ="ccNoneToManyGeomOneValue"/>
              <xs:element name="nominate_metrics_output_variables" type ="ccNewValue"/>
              <xs:element name="nominate_model_config_input_variables" type ="ccNewValue"/>
              <xs:element name="nominate_solar_input_variables" type ="ccNewValue"/>
              <xs:element name="nominate_solver_control_input_variables" type ="ccNewValue"/>
              <xs:element name="nominate_transient_input_variables" type ="ccNewValue"/>
              <xs:element name="nominate_user_variables_input_variables" type ="ccNewValue"/>
              <xs:element name="optimize" type ="ccOptimizeCommand"/>
              <xs:element name="optimize_finished_event"/>
              <xs:element name="paste_scenario_table" type ="ccPasteScenarioTable"/>
              <xs:element name="pause_record_script"/>
              <xs:element name="power_select" type="severalNewMcadValues" />
              <xs:element name="preferences" type ="severalNewMcadValues"/>
              <xs:element name="project_export" type ="edaProjectExport"/>
              <xs:element name="project_run_script" type ="commonFileNameCommand"/>
              <xs:element name="question" type ="commonQuestion"/>
              <xs:element name="quit"/>
              <xs:element name="redo"/>
              <xs:element name="reinitialize_scenario" type="ccOneToManyScenarios"/>
              <xs:element name="reinitialize_all"/>
              <xs:element name="remove_input_variable" type ="ccOneToManyVariable"/>
              <xs:element name="remove_output_variable" type ="ccOneToManyVariable"/>
              <xs:element name="rename" type="mcadRenameCommand"/>
              <xs:element name="rename_scenario" type="ccRenameScenarioCommand"/>
              <xs:element name="request_correlation_chart" type="ccRequestCorellationChartCommand"/>
              <xs:element name="reset"/>
              <xs:element name="reset_geometry"/>
              <xs:element name="resume_record_script"/>
              <xs:element name="reveal_all"/>
              <xs:element name="reveal_geometry"/>
              <xs:element name="save"/>
              <xs:element name="save_as" type="commonFilenameCommand"/>
              <xs:element name="save_scenario_project" type="ccSaveScenarioProjectCommand"/>
              <xs:element name="select" type="mcadSelectCommand"/>
              <xs:element name="select_geometry" type="commonSelectCommand"/>
              <xs:element name="select_scenario" type="ccOneToManyScenarios"/>
              <xs:element name="select_scenarios_from_variable" type="ccSelectScenariosFromVariableCommand"/>
              <xs:element name="separate_disjoint_bodies" />
              <xs:element name="single_object" type="severalNewMcadValues" />
              <xs:element name="solve_all"/>
              <xs:element name="solve_scenario" type="ccOneToManyScenarios"/>
              <xs:element name="solve_idle_event"/>
              <xs:element name="split_body" type="severalNewMcadValues" />
              <xs:element name="start_record_script" type ="commonFileNameCommand"/>
              <xs:element name="stop_record_script"/>
              <xs:element name="subtract_bodies"/>
              <xs:element name="superposition" type ="ccCreateScenariosCommand"/>
              <xs:element name="table_nominate_attribute_input_variables" type ="ccNoneToManyAttOneTableValue"/>
              <xs:element name="table_nominate_geometry_input_variables" type ="ccNoneToManyGeomOneTableValue"/>
              <xs:element name="table_nominate_solver_control_input_variables" type ="ccNewTableValue"/>
              <xs:element name="timer_start" type ="commonNameCommand"/>
              <xs:element name="timer_stop" type ="commonNameCommand"/>
              <xs:element name="top"/>
              <xs:element name="top_geometry" type ="commonOneGeom"/>
              <xs:element name="transfer"/>
              <xs:element name="transfer_assembly"/>
              <xs:element name="transparency" type ="commonTransparencyCommand"/>
              <xs:element name="undo"/>
              <xs:element name="unite_bodies"/>
              <xs:element name="up_to_parent"/>
              <xs:element name="up_to_parent_geometry"/>
              <xs:element name="viewport_camera_mode" type ="commonCameraModeCommand"/>
              <xs:element name="viewport_defined_view_manipulation" type ="commonDefinedViewManipulationCommand"/>
              <xs:element name="viewport_output_snapshot" type ="commonOutputSnapshotCommand"/>
              <xs:element name="viewport_standard_view" type ="commonStandardViewCommand"/>
              <xs:element name="visualization_state" type ="commonVisualizationStateCommand"/>
              <xs:element name="voxelize" type="severalNewMcadValues"/>
              <xs:element name="wait" type="commonWaitCommand"/>
              
              <xs:element name="animation" type ="animation"/>
              <xs:element name="change_results_mode" type ="changeResultsMode"/>
              <xs:element name="copy_results_plot" type ="oneToManyResultsNodes"/>
              <xs:element name="create_annotation_from_tooltip" type ="createAnnotationFromTooltip"/>
              <xs:element name="create_min_max_annotation" type ="createMinMaxAnnotation"/>
              <xs:element name="create_results_plot" type ="createResultsPlot"/>
              <xs:element name="delete_results_plot" type ="oneToManyResultsNodes"/>
              <xs:element name="export_plot" type ="exportPlot"/>
              <xs:element name="jump_to_viewpoint" type ="oneToManyResultsNodes"/>
              <xs:element name="manipulate_particle_source" type ="manipulateParticleSource"/>
              <xs:element name="modify_results_node" type ="modifyResultsNode"/>
              <xs:element name="modify_results_node_associated_geometry" type ="modifyResultsNodeAssociatedGeometry"/>
              <xs:element name="modify_results_node_associated_plot" type ="modifyResultsNodeAssociatedPlot"/>
              <xs:element name="move_plane_plot" type ="movePlanePlot"/>
              <xs:element name="output_animation" type ="commonOutputSnapshotCommand"/>
              <xs:element name="rename_results_node" type ="renameResultsNode"/>
              <xs:element name="reposition_plane_plot" type ="repositionPlanePlot"/>
              <xs:element name="results_state_save_as" type ="commonFilenameCommand"/>
              <xs:element name="results_state_reinitialize"/>
              <xs:element name="results_state_load" type ="commonFilenameCommand"/>
              <xs:element name="save_results_setting" type ="saveResultsSetting"/>
              <xs:element name="select_associated_geometry" type ="oneToManyResultsNodes"/>
              <xs:element name="select_results_node" type ="noneToManyResultsNodes"/>
              <xs:element name="toggle_results_plot_grid_shown" type ="oneToManyResultsNodes"/>

              <xs:element name="copy_material" type="oneToManyFlopackMaterials" />
              <xs:element name="create_material" type="createFlopackMaterial" />
              <xs:element name="delete_material" type="oneToManyFlopackMaterials" />
              <xs:element name="export_floxml" type ="commonFilenameCommand"/>
              <xs:element name="load_des" type ="commonFilenameCommand"/>
              <xs:element name="modify_component" type="newFlopackValue" />
              <xs:element name="modify_component_table_row" type="newFlopackTableValue" />
              <xs:element name="modify_material" type="newFlopackMaterialValue" />
              <xs:element name="new_package" type="newPackage" />
              <xs:element name="save_des" type ="flopackSaveCommand"/>
              <xs:element name="select_component_row" type="flopackSelectCommand" />
              <xs:element name="transfer_component"/>
            </xs:choice>
            <xs:attribute name="process" use="required" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="activate_geometry" type="findableGeometry"/>
        <xs:element name="adjust_calibration_parameters" type="adjustCalibrationParameters"/>
        <xs:element name="align_geometry" type="alignGeometry"/>
        <xs:element name="assembly_export" type="assemblyExport"/>
        <xs:element name="assembly_import" type="assemblyImport"/>
        <xs:element name="beta_enable" type ="betaEnable"/>
        <xs:element name="calculate_auxiliary_variable" type ="many_new_values"/>
        <xs:element name="catalog"/>
        <xs:element name="change_solutsim_directory" type ="changeSolutionDirectory"/>
        <xs:element name="collapse_geometry" type ="collapseGeometry"/>
        <xs:element name="clear_filter_geometry"/>
        <xs:element name="clear_select_geometry"/>
        <xs:element name="copy_attribute" type ="copyAttribute"/>
        <xs:element name="copy_geometry" type ="copyGeometry"/>
        <xs:element name="copy_library" type ="copyLibrary"/>
        <xs:element name="create_attribute" type ="createAttribute"/>
        <xs:element name="create_category" type ="createCategory"/>
        <xs:element name="create_geometry" type ="createGeometry"/>
        <xs:element name="create_group" type ="createGroup"/>
        <xs:element name="create_library" type ="createLibrary"/>
        <xs:element name="create_profiles_plot" type ="commonCreateProfilesPlot"/>
        <xs:element name="create_unique_names_geometry" type = "findableGeometry"/>
        <xs:element name="csv_export_attribute" type ="csvExportAttribute"/>
        <xs:element name="curve_modify_attribute" type ="curveModifyAttribute"/>
        <xs:element name="curve_modify_geometry" type ="curveModifyGeometry"/>
        <xs:element name="cut_geometry" type ="cutGeometry"/>
        <xs:element name="cut_library" type ="cutLibrary"/>
        <xs:element name="deactivate_geometry" type ="findableGeometry"/>
        <xs:element name="decompose_geometry" type ="decomposeGeometry"/>
        <xs:element name="deflate_grid" type ="deflateGrid"/>
        <xs:element name="delete_attribute" type ="deleteAttribute"/>
        <xs:element name="delete_geometry" type ="findableGeometry"/>
        <xs:element name="delete_library" type ="deleteLibrary"/>
        <xs:element name="delete_profiles_plot" type ="commonDeleteProfilesPlot"/>
        <xs:element name="demote_geometry" type ="demoteGeometry"/>
        <xs:element name="drag_create_geometry" type ="dragCreateGeometry"/>
        <xs:element name="expand_all_geometry" />
        <xs:element name="expand_geometry" type ="expandGeometry"/>
        <xs:element name="export_all_tables" type ="commonFilenameCommand"/>
        <xs:element name="export_bci_rom" type="many_new_values"/>
        <xs:element name="export_legacy_tables" type ="exportLegacyTables"/>
        <xs:element name="export_cell_by_cell_results" type ="exportCellByCellResults"/>
        <xs:element name="export_library" type ="exportLibrary"/>
        <xs:element name="export_table" type ="exportTable"/>
        <xs:element name="export_transient_table" type ="exportTable"/>
        <xs:element name="filter_geometry" type ="filterGeometry"/>
        <xs:element name="find" type ="commonFindCommand"/>
        <xs:element name="find_cycle_select" type ="commonFindCycleSelectCommand"/>
        <xs:element name="flush_attribute" type ="flushAttribute"/>
        <xs:element name="graphical_drag_copy_geometry" type ="graphicalDragCopyGeometry"/>
        <xs:element name="graphical_modify_geometry" type ="graphicalModifyGeometry"/>
        <xs:element name="hide_geometry" type ="findableGeometry"/>
        <xs:element name="import_library" type ="importLibrary"/>
        <xs:element name="inflate_grid" type ="inflateGrid"/>
        <xs:element name="launch" type ="launch"/>
        <xs:element name="launch_teamcenter_share"/>
        <xs:element name="load_from_library" type ="loadFromLibrary"/>
        <xs:element name="message" type ="commonMessage"/>
        <xs:element name="localize_grid_geometry" type ="localizeGridGeometry"/>
        <xs:element name="make_visible_geometry" type ="makeVisibleGeometry"/>
        <xs:element name="mirror_create_geometry" type ="mirrorCreateGeometry"/>
        <xs:element name="modify_attribute" type ="modifyAttribute"/>
        <xs:element name="modify_concentration" type="new_table_value"/>
        <xs:element name="modify_die_discrete_source" type ="modifyDieDiscreteSource"/>
        <xs:element name="modify_die_total_coverage" type ="modifyDieTotalCoverage"/>
        <xs:element name="modify_geometry" type ="modifyGeometry"/>
        <xs:element name="modify_geometry_attachment" type ="modifyGeometryAttachment"/>
        <xs:element name="modify_library" type ="modifyLibrary"/>
        <xs:element name="modify_model_config" type="new_value"/>
        <xs:element name="modify_monitor_point_plot_associated_geometry" type ="commonModifyMonitorPointPlotAssociatedGeometry"/>
        <xs:element name="modify_profiles_plot" type ="commonModifyProfilesPlot"/>
        <xs:element name="modify_solver_control" type="new_value"/>
        <xs:element name="modify_solar_configuration" type ="many_new_values"/>
        <xs:element name="modify_thermal_netlist_preferences" type="many_new_values"/>
        <xs:element name="modify_transient_solution" type ="modifyTransientSolution"/>
        <xs:element name="modify_units" type ="many_new_values"/>
        <xs:element name="modify_user_preferences" type ="many_new_values"/>
        <xs:element name="modify_visibility_distance_parameters" type ="many_new_values"/>
        <xs:element name="move_library_node" type ="moveLibraryNode"/>
        <xs:element name="move_geometry_node" type ="moveGeometryNode"/>
        <xs:element name="paste_geometry" type ="pasteGeometry"/>
        <xs:element name="paste_library" type ="pasteLibrary"/>
        <xs:element name="pattern_create_geometry" type ="patternCreateGeometry"/>
        <xs:element name="pause_record_script"/>
        <xs:element name="process_stopped_event" type="processStoppedEvent"/>
        <xs:element name="project_delete" type ="projectDelete"/>
        <xs:element name="project_delete_template" type ="projectDeleteTemplate"/>
        <xs:element name="project_export" type ="projectExport"/>
        <xs:element name="project_import" type ="projectImport"/>
        <xs:element name="project_load" type ="projectLoad"/>
        <xs:element name="project_new" type ="projectNew"/>
        <xs:element name="project_run_script" type ="commonFileNameCommand"/>
        <xs:element name="project_save"/>
        <xs:element name="project_save_as" type ="projectSaveAs"/>
        <xs:element name="project_set_default" type ="projectSetDefault"/>
        <xs:element name="project_unlock" type ="projectUnlock"/>
        <xs:element name="promote_geometry" type ="promoteGeometry"/>
        <xs:element name="question" type ="commonQuestion"/>
        <xs:element name="quit"/>
        <xs:element name="redo"/>
        <xs:element name="refresh_library" type ="refreshLibrary"/>
        <xs:element name="rename_attribute" type ="renameAttribute"/>
        <xs:element name="rename_geometry" type ="renameGeometry"/>
        <xs:element name="reset_geometry"/>
        <xs:element name="resize_by_delta_geometry" type ="resizeByDeltaGeometry"/>
        <xs:element name="resume_record_script"/>
        <xs:element name="reveal_geometry" type ="findableGeometry"/>
        <xs:element name="rotate_geometry" type ="rotateGeometry"/>
        <xs:element name="save_to_library" type ="saveToLibrary"/>
        <xs:element name="select_geometry" type ="commonSelectCommand"/>
        <xs:element name="simcenter_field_data_export" type ="simcenterFieldDataExport"/>
        <xs:element name="solve_idle_event"/>
        <xs:element name="start" type ="start"/>
        <xs:element name="start_record_script" type ="commonFileNameCommand"/>
        <xs:element name="stop_record_script"/>
        <xs:element name="tables_hide_columns" type ="tablesHideColumns"/>
        <xs:element name="tables_reveal_hidden_columns" type ="tablesTableId"/>
        <xs:element name="tables_set_displayed_tab" type ="tablesTableId"/>
        <xs:element name="tables_sort" type ="tablesSort"/>
        <xs:element name="tables_smartpart_details" type ="tablesSmartPartDetails"/>
        <xs:element name="table_create_row_attribute" type ="tableCreateRowAttribute"/>
        <xs:element name="table_create_row_geometry" type ="tableCreateRowGeometry"/>
        <xs:element name="table_create_row_solver_control" type ="tableCreateRowSolverControl"/>
        <xs:element name="table_delete_row_attribute" type ="tableDeleteRowAttribute"/>
        <xs:element name="table_delete_row_geometry" type ="tableDeleteRowGeometry"/>
        <xs:element name="table_delete_row_solver_control" type ="tableDeleteRowSolverControl"/>
        <xs:element name="table_modify_row_attribute" type ="tableModifyRowAttribute"/>
        <xs:element name="table_modify_row_geometry" type ="tableModifyRowGeometry"/>
        <xs:element name="table_modify_row_solver_control" type="new_table_value"/>
        <xs:element name="table_select_rows_attribute" type ="tableSelectRowsAttribute"/>
        <xs:element name="timer_start" type ="commonNameCommand"/>
        <xs:element name="timer_stop" type ="commonNameCommand"/>
        <xs:element name="top_geometry" type ="commonOneGeom"/>
        <xs:element name="transfer_to_eda_bridge" type ="findableGeometry"/>
        <xs:element name="transparency" type ="commonTransparencyCommand"/>
        <xs:element name="undo" />
        <xs:element name="up_to_parent_geometry" />
        <xs:element name="viewport_camera_mode" type ="commonCameraModeCommand"/>
        <xs:element name="viewport_defined_view_manipulation" type ="commonDefinedViewManipulationCommand"/>
        <xs:element name="viewport_output_snapshot" type ="commonOutputSnapshotCommand"/>
        <xs:element name="viewport_standard_view" type ="commonStandardViewCommand"/>
        <xs:element name="visualization_state" type ="commonVisualizationStateCommand"/>
        <xs:element name="wait" type="commonWaitCommand"/>
        <xs:element name="zoom_in_save_project" type ="zoomInProjectSave"/>

        <xs:element name="animation" type ="animation"/>
        <xs:element name="change_results_mode" type ="changeResultsMode"/>
        <xs:element name="copy_results_plot" type ="oneToManyResultsNodes"/>
        <xs:element name="create_annotation_from_tooltip" type ="createAnnotationFromTooltip"/>
        <xs:element name="create_min_max_annotation" type ="createMinMaxAnnotation"/>
        <xs:element name="create_results_plot" type ="createResultsPlot"/>
        <xs:element name="delete_results_plot" type ="oneToManyResultsNodes"/>
        <xs:element name="export_plot" type ="exportPlot"/>
        <xs:element name="jump_to_viewpoint" type ="oneToManyResultsNodes"/>
        <xs:element name="manipulate_particle_source" type ="manipulateParticleSource"/>
        <xs:element name="modify_results_node" type ="modifyResultsNode"/>
        <xs:element name="modify_results_node_associated_geometry" type ="modifyResultsNodeAssociatedGeometry"/>
        <xs:element name="modify_results_node_associated_plot" type ="modifyResultsNodeAssociatedPlot"/>
        <xs:element name="modify_results_transient_time_step" type="resultsNewValue"/>
        <xs:element name="move_plane_plot" type ="movePlanePlot"/>
        <xs:element name="output_animation" type ="commonOutputSnapshotCommand"/>
        <xs:element name="rename_results_node" type ="renameResultsNode"/>
        <xs:element name="reposition_plane_plot" type ="repositionPlanePlot"/>
        <xs:element name="results_state_save_as" type ="commonFilenameCommand"/>
        <xs:element name="results_state_reinitialize"/>
        <xs:element name="results_state_load" type ="commonFilenameCommand"/>
        <xs:element name="save_results_setting" type ="saveResultsSetting"/>
        <xs:element name="select_associated_geometry" type ="oneToManyResultsNodes"/>
        <xs:element name="select_results_node" type ="noneToManyResultsNodes"/>
        <xs:element name="toggle_results_plot_grid_shown" type ="oneToManyResultsNodes"/>
      </xs:choice>
      <xs:attribute name="version" type="xs:double" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
