flotherm/reference/flotherm/2504/examples/floscript/schema/FloVIZFloSCRIPTSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

  <xs:include schemaLocation="CommonCommands.xsd" />
  <xs:include schemaLocation="FloGdaPostFloviewCommands.xsd" />

  <xs:element name="floviz_xml_log_file">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="animation" type ="animation"/>
        <xs:element name="clear_select_geometry"/>
        <xs:element name="copy_results_plot" type ="oneToManyResultsNodes"/>
        <xs:element name="create_annotation_from_tooltip" type ="createAnnotationFromTooltip"/>
        <xs:element name="create_min_max_annotation" type ="createMinMaxAnnotation"/>
        <xs:element name="create_results_plot" type ="createResultsPlot"/>
        <xs:element name="delete_results_plot" type ="oneToManyResultsNodes"/>
        <xs:element name="jump_to_viewpoint" type ="oneToManyResultsNodes"/>
        <xs:element name="export_pack"  type ="commonFilenameCommand"/>
        <xs:element name="import_pack"  type ="commonFilenameCommand"/>
        <xs:element name="manipulate_particle_source" type ="manipulateParticleSource"/>
        <xs:element name="message" type ="commonMessage"/>
        <xs:element name="modify_results_node" type ="modifyResultsNode"/>
        <xs:element name="modify_results_node_associated_geometry" type ="modifyResultsNodeAssociatedGeometry"/>
        <xs:element name="modify_results_node_associated_plot" type ="modifyResultsNodeAssociatedPlot"/>
        <xs:element name="modify_results_transient_time_step" type="resultsNewValue"/>
        <xs:element name="modify_user_preferences" type ="commonManyNewValues"/>
        <xs:element name="move_plane_plot" type ="movePlanePlot"/>
        <xs:element name="open_project"  type ="commonDirectoryCommand"/>
        <xs:element name="output_animation" type ="commonOutputSnapshotCommand"/>
        <xs:element name="pause_record_script"/>
        <xs:element name="project_run_script" type ="commonFileNameCommand"/>
        <xs:element name="quit"/>
        <xs:element name="redo"/>
        <xs:element name="rename_results_node" type ="renameResultsNode"/>
        <xs:element name="reposition_plane_plot" type ="repositionPlanePlot"/>
        <xs:element name="reset_geometry"/>
        <xs:element name="results_state_save_as" type ="commonFilenameCommand"/>
        <xs:element name="results_state_reinitialize"/>
        <xs:element name="results_state_load" type ="commonFilenameCommand"/>
        <xs:element name="save_results_setting" type ="saveResultsSetting"/>
        <xs:element name="select_associated_geometry" type ="oneToManyResultsNodes"/>
        <xs:element name="select_geometry" type="commonSelectCommand"/>
        <xs:element name="select_results_node" type ="noneToManyResultsNodes"/>
        <xs:element name="start_record_script" type ="commonFileNameCommand"/>
        <xs:element name="stop_record_script"/>
        <xs:element name="timer_start" type ="commonNameCommand"/>
        <xs:element name="timer_stop" type ="commonNameCommand"/>
        <xs:element name="toggle_results_plot_grid_shown" type ="oneToManyResultsNodes"/>
        <xs:element name="top_geometry" type ="commonOneGeom"/>
        <xs:element name="undo"/>
        <xs:element name="up_to_parent_geometry"/>
        <xs:element name="viewport_camera_mode" type ="commonCameraModeCommand"/>
        <xs:element name="viewport_defined_view_manipulation" type ="commonDefinedViewManipulationCommand"/>
        <xs:element name="viewport_output_snapshot" type ="commonOutputSnapshotCommand"/>
        <xs:element name="viewport_standard_view" type ="commonStandardViewCommand"/>
        <xs:element name="visualization_state" type ="commonVisualizationStateCommand"/>
      </xs:choice>
      <xs:attribute name="version" type="xs:double" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
